In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\new\Desktop\IMBD.csv")
df

,movie,genre,runtime,certificate,rating,stars,description,votes,director
0,The Witcher,"Action, Adventure, Drama",60 min,A,8.1,"['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal...","Geralt of Rivia, a solitary monster hunter, st...","5,39,085",NaN
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie']
2,Sound of Freedom,"Action, Biography, Drama",131 min,PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",The incredible true story of a former governme...,"41,808",['Alejandro Monteverde']
3,Secret Invasion,"Action, Adventure, Drama",47 min,UA 16+,6.2,"['Samuel L. Jackson, ', 'Emilia Clarke, ', 'Do...",Fury and Talos try to stop the Skrulls who hav...,"40,536",NaN
4,Special Ops: Lioness,"Action, Drama, Thriller",NaN,NaN,7.5,"['Zoe Saldana, ', 'Laysla De Oliveira, ', 'Dav...",Joe attempts to balance her personal and profe...,"3,203",NaN
...,...,...,...,...,...,...,...,...,...
129886,Chocatos,"Short, Drama, Family",10 min,NaN,NaN,NaN,Add a Plot\n,NaN,['Diego Al Romero']
129887,Song of the Caballero,"Drama, Western",73 min,NaN,NaN,"['Ken Maynard, ', 'Doris Hill, ', 'Francis For...",After El Lobo robs Don Jose he gives one of th...,NaN,['Harry Joe Brown']
129888,The Flaming Forties,Western,60 min,NaN,NaN,"['Harry Carey, ', 'William Bailey, ', 'Jacquel...",A young cowhand befriends a disreputable gambl...,NaN,['Tom Forman']
129889,The Girl and the Sheriff,"Short, Western",NaN,NaN,NaN,"['Betty Keller, ', 'George Field, ', 'Lee Mora...","Bob Warren, sheriff of Grass County, Cal., and...",NaN,['Al Christie']
129890,The End of the Trail,"Short, Western",NaN,NaN,NaN,NaN,"It was only a lovers' quarrel, and had Marion ...",NaN,['Milton J. Fahrney']

### See first 10 entries

In [3]:
df.head(10)

,movie,genre,runtime,certificate,rating,stars,description,votes,director
0,The Witcher,"Action, Adventure, Drama",60 min,A,8.1,"['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal...","Geralt of Rivia, a solitary monster hunter, st...","5,39,085",NaN
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie']
2,Sound of Freedom,"Action, Biography, Drama",131 min,PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",The incredible true story of a former governme...,"41,808",['Alejandro Monteverde']
3,Secret Invasion,"Action, Adventure, Drama",47 min,UA 16+,6.2,"['Samuel L. Jackson, ', 'Emilia Clarke, ', 'Do...",Fury and Talos try to stop the Skrulls who hav...,"40,536",NaN
4,Special Ops: Lioness,"Action, Drama, Thriller",NaN,NaN,7.5,"['Zoe Saldana, ', 'Laysla De Oliveira, ', 'Dav...",Joe attempts to balance her personal and profe...,"3,203",NaN
5,They Cloned Tyrone,"Action, Comedy, Mystery",122 min,R,6.7,"['John Boyega, ', 'Jamie Foxx, ', 'Teyonah Par...",A series of eerie events thrusts an unlikely t...,"14,271",['Juel Taylor']
6,Star Trek: Strange New Worlds,"Action, Adventure, Sci-Fi",52 min,Not Rated,8.3,"['Anson Mount, ', 'Ethan Peck, ', 'Christina C...","A prequel to Star Trek: The Original Series, t...","45,723",NaN
7,One Piece,"Action, Adventure, Comedy",NaN,NaN,NaN,"['IÃ±aki Godoy, ', 'Mackenyu, ', 'Emily Rudd, '...","In a seafaring world, a young pirate captain s...",NaN,NaN
8,Twisted Metal,"Action, Adventure, Comedy",30 min,NaN,7.5,"['Anthony Mackie, ', 'Tahj Vaughans, ', 'Steph...",Follows a motor-mouthed outsider offered a cha...,"4,334",NaN
9,The Flash,"Action, Adventure, Fantasy",144 min,UA,6.9,"['Ezra Miller, ', 'Michael Keaton, ', 'Sasha C...",Barry Allen uses his super speed to change the...,"1,26,445",['Andy Muschietti']

### See last 10 entries

In [4]:
df.tail(10)

,movie,genre,runtime,certificate,rating,stars,description,votes,director
129881,Weary Sun,"Drama, Thriller, Western",92 min,NaN,NaN,"['Madeleine James, ', 'Keith Panzarella, ', 'D...",A modern fusion of modern murder mystery and o...,NaN,['John Hawthorne Smith']
129882,I'm Leaving,"Short, Drama, Thriller",13 min,NaN,NaN,"['Vraka Joanna, ', 'George Nikolopoulos, ', 'G...",Eleonora is trapped in her marriage with Achil...,NaN,['Nick Bekos']
129883,Don X,Western,NaN,NaN,NaN,"['Bruce Gordon, ', 'Josephine Hill, ', 'Willia...",Add a Plot\n,NaN,['Forrest Sheldon']
129884,Just Gone,"Short, Drama, Mystery",14 min,NaN,NaN,"['Said Bey, ', 'Jake Davies, ', 'Houda Echouaf...",A mother goes in search of her missing son and...,NaN,['Sophie Jane Austin']
129885,Western Sunrise,"Short, Western",NaN,NaN,NaN,"['Anne Marie Betts, ', 'Joel Petrie, ', 'Jylli...",Two young women fight back as they are taken i...,NaN,['D. Terry Petrie']
129886,Chocatos,"Short, Drama, Family",10 min,NaN,NaN,NaN,Add a Plot\n,NaN,['Diego Al Romero']
129887,Song of the Caballero,"Drama, Western",73 min,NaN,NaN,"['Ken Maynard, ', 'Doris Hill, ', 'Francis For...",After El Lobo robs Don Jose he gives one of th...,NaN,['Harry Joe Brown']
129888,The Flaming Forties,Western,60 min,NaN,NaN,"['Harry Carey, ', 'William Bailey, ', 'Jacquel...",A young cowhand befriends a disreputable gambl...,NaN,['Tom Forman']
129889,The Girl and the Sheriff,"Short, Western",NaN,NaN,NaN,"['Betty Keller, ', 'George Field, ', 'Lee Mora...","Bob Warren, sheriff of Grass County, Cal., and...",NaN,['Al Christie']
129890,The End of the Trail,"Short, Western",NaN,NaN,NaN,NaN,"It was only a lovers' quarrel, and had Marion ...",NaN,['Milton J. Fahrney']

### Storing number of rows and columns in separate variable

In [5]:
df_rows = df.shape[0]
df_rows

129891

In [6]:
df_cols = df.shape[1]
df_cols

9

### Column Names

In [7]:
df.columns

Index(['movie', 'genre', 'runtime', 'certificate', 'rating', 'stars',
       'description', 'votes', 'director'],
      dtype='object')

### Checking Data Types

In [8]:
df.dtypes

movie           object
genre           object
runtime         object
certificate     object
rating         float64
stars           object
description     object
votes           object
director        object
dtype: object

### Selecting columns on the basis of their datatypes

In [9]:
df.select_dtypes(include=['object']).head()

,movie,genre,runtime,certificate,stars,description,votes,director
0,The Witcher,"Action, Adventure, Drama",60 min,A,"['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal...","Geralt of Rivia, a solitary monster hunter, st...","5,39,085",NaN
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",163 min,UA,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie']
2,Sound of Freedom,"Action, Biography, Drama",131 min,PG-13,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",The incredible true story of a former governme...,"41,808",['Alejandro Monteverde']
3,Secret Invasion,"Action, Adventure, Drama",47 min,UA 16+,"['Samuel L. Jackson, ', 'Emilia Clarke, ', 'Do...",Fury and Talos try to stop the Skrulls who hav...,"40,536",NaN
4,Special Ops: Lioness,"Action, Drama, Thriller",NaN,NaN,"['Zoe Saldana, ', 'Laysla De Oliveira, ', 'Dav...",Joe attempts to balance her personal and profe...,"3,203",NaN

In [10]:
df.select_dtypes(include=['float']).head()

   rating
0     8.1
1     8.0
2     7.9
3     6.2
4     7.5

### Summarizing DataFrame

Describe only works on numeric datatype 
For includinf each column of different dtype add include as param

In [11]:
df.describe()

              rating
count  114381.000000
mean        6.521429
std         1.334240
min         1.000000
25%         5.800000
50%         6.700000
75%         7.400000
max        10.000000

In [12]:
df.describe(include="all")

,movie,genre,runtime,certificate,rating,stars,description,votes,director
count,129891,129891,109005,23850,114381.000000,124676,129891,114393,88611
unique,115988,2214,571,39,NaN,120278,118066,18664,39707
top,Royal Rumble,Documentary,90 min,R,NaN,"['Mel Blanc', '']",Add a Plot\n,10,[]
freq,22,5030,4386,6426,NaN,51,8743,667,726
mean,NaN,NaN,NaN,NaN,6.521429,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,1.334240,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,5.800000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,6.700000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,7.400000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,10.000000,NaN,NaN,NaN,NaN

### Value Count

In [13]:
df['genre'].value_counts()

genre
Documentary                                 5030
Music                                       2517
Western                                     2491
Animation, Action, Adventure                1977
Drama, Romance                              1936
                                            ...
Drama, Thriller, Horror                        1
Thriller, Horror, Mystery                      1
Horror, Crime, Thriller                        1
Thriller, Drama, Horror                        1
Sport, Western                                 1
Name: count, Length: 2214, dtype: int64

#### For Unique Values

In [14]:
df['certificate'].unique()

array(['A', 'UA', 'PG-13', 'UA 16+', nan, 'R', 'Not Rated', '16+', '18',
       '18+', 'U', 'PG', 'UA 13+', '16', '7', 'U/A', '13', '15+', '12+',
       'U/A 16+', '(Banned)', 'UA 7+', '12', 'All', 'G', 'Unrated',
       'NC-17', 'Approved', 'M/PG', 'GP', '15', '7+', 'U/A 7+', 'TV-14',
       'M', '3+', '13+', 'Passed', 'TV-PG', 'X'], dtype=object)

#### For finding col count of those unique values

In [15]:
df['certificate'].nunique()

39

### Data Filtering

In [16]:
df[df['certificate']=='3+']

,movie,genre,runtime,certificate,rating,stars,description,votes,director
18081,Gopal bhar,"Animation, Comedy, Family",NaN,3+,7.6,NaN,Gopal bhar was a legendary court jester in med...,105,NaN

In [17]:
df[df['certificate']=='U/A 7+']

,movie,genre,runtime,certificate,rating,stars,description,votes,director
12137,Jane,"Adventure, Family",NaN,U/A 7+,6.6,"['Ava Louise Murchison, ', 'Mason Blomberg, ',...","Jane Garcia, a 10-year-old girl and her trusty...",127,NaN
17038,Blush,"Animation, Short, Romance",11 min,U/A 7+,7.6,NaN,A stranded horticulturist-astronaut meets an e...,"1,919",['Joe Mateo']
95401,Blush,"Animation, Short, Romance",11 min,U/A 7+,7.6,NaN,A stranded horticulturist-astronaut meets an e...,"1,919",[]

In [18]:
df[df['certificate']=='Not Rated']

,movie,genre,runtime,certificate,rating,stars,description,votes,director
6,Star Trek: Strange New Worlds,"Action, Adventure, Sci-Fi",52 min,Not Rated,8.3,"['Anson Mount, ', 'Ethan Peck, ', 'Christina C...","A prequel to Star Trek: The Original Series, t...","45,723",NaN
154,Superman & Lois,"Action, Adventure, Drama",42 min,Not Rated,7.8,"['Tyler Hoechlin, ', 'Elizabeth Tulloch, ', 'A...",The world's most famous superhero and comic bo...,"37,204",NaN
508,The Boondocks,"Animation, Action, Comedy",22 min,Not Rated,8.5,"['Regina King, ', 'John Witherspoon, ', 'Gary ...",Brothers Huey and Riley Freeman experience a c...,"33,368",NaN
523,Escape Room: Tournament of Champions,"Action, Adventure, Horror",88 min,Not Rated,5.7,"['Taylor Russell, ', 'Logan Miller, ', 'Debora...",Six people unwillingly find themselves locked ...,$25.19M,['Adam Robitel']
726,Superhero Movie,"Action, Comedy, Sci-Fi",75 min,Not Rated,4.6,"['Drake Bell, ', 'Leslie Nielsen, ', 'Sara Pax...",Orphaned high school student Rick Riker is bit...,$26.64M,['Craig Mazin']
...,...,...,...,...,...,...,...,...,...
115713,Tegeran-43,"Action, Crime, Drama",150 min,Not Rated,6.7,"['Natalya Belokhvostikova, ', 'Curd JÃ¼rgens, '...",Alain Delon and Claude Jade stars in this Sovi...,"1,274",NaN
117158,Yi yu,War,100 min,Not Rated,7.3,"['Andy Lau, ', 'Chun-Hsiung Ko, ', 'Tsung-Hua ...",Add a Plot\n,258,['Yen-Ping Chu']
118137,Ladakh Warriors,"Documentary, War",49 min,Not Rated,8.9,"['Randeep Hooda', '']",The show depicts the gruelling training that t...,99,NaN
121011,Line Of Duty,"Short, Action, Drama",13 min,Not Rated,8.0,"['Priyanshu Painyuli, ', 'Narreshh Malikk, ', ...",A Young recruit of the Indian army posted at a...,7,['Mayank Malhotra']
122018,The Return of Sam McCloud,"Action, Crime, Drama",94 min,Not Rated,6.2,"['Dennis Weaver, ', 'J.D. Cannon, ', 'Terry Ca...",Ex-Marshal McCloud now is senator of New Mexic...,127,['Alan J. Levi']

#### Dropping Duplicates

Dropping duplicated column wise

In [19]:
df_subset = df.drop_duplicates(['movie'])
df_subset

,movie,genre,runtime,certificate,rating,stars,description,votes,director
0,The Witcher,"Action, Adventure, Drama",60 min,A,8.1,"['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal...","Geralt of Rivia, a solitary monster hunter, st...","5,39,085",NaN
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie']
2,Sound of Freedom,"Action, Biography, Drama",131 min,PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",The incredible true story of a former governme...,"41,808",['Alejandro Monteverde']
3,Secret Invasion,"Action, Adventure, Drama",47 min,UA 16+,6.2,"['Samuel L. Jackson, ', 'Emilia Clarke, ', 'Do...",Fury and Talos try to stop the Skrulls who hav...,"40,536",NaN
4,Special Ops: Lioness,"Action, Drama, Thriller",NaN,NaN,7.5,"['Zoe Saldana, ', 'Laysla De Oliveira, ', 'Dav...",Joe attempts to balance her personal and profe...,"3,203",NaN
...,...,...,...,...,...,...,...,...,...
129886,Chocatos,"Short, Drama, Family",10 min,NaN,NaN,NaN,Add a Plot\n,NaN,['Diego Al Romero']
129887,Song of the Caballero,"Drama, Western",73 min,NaN,NaN,"['Ken Maynard, ', 'Doris Hill, ', 'Francis For...",After El Lobo robs Don Jose he gives one of th...,NaN,['Harry Joe Brown']
129888,The Flaming Forties,Western,60 min,NaN,NaN,"['Harry Carey, ', 'William Bailey, ', 'Jacquel...",A young cowhand befriends a disreputable gambl...,NaN,['Tom Forman']
129889,The Girl and the Sheriff,"Short, Western",NaN,NaN,NaN,"['Betty Keller, ', 'George Field, ', 'Lee Mora...","Bob Warren, sheriff of Grass County, Cal., and...",NaN,['Al Christie']
129890,The End of the Trail,"Short, Western",NaN,NaN,NaN,NaN,"It was only a lovers' quarrel, and had Marion ...",NaN,['Milton J. Fahrney']

In [20]:
df_subset

,movie,genre,runtime,certificate,rating,stars,description,votes,director
0,The Witcher,"Action, Adventure, Drama",60 min,A,8.1,"['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal...","Geralt of Rivia, a solitary monster hunter, st...","5,39,085",NaN
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie']
2,Sound of Freedom,"Action, Biography, Drama",131 min,PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",The incredible true story of a former governme...,"41,808",['Alejandro Monteverde']
3,Secret Invasion,"Action, Adventure, Drama",47 min,UA 16+,6.2,"['Samuel L. Jackson, ', 'Emilia Clarke, ', 'Do...",Fury and Talos try to stop the Skrulls who hav...,"40,536",NaN
4,Special Ops: Lioness,"Action, Drama, Thriller",NaN,NaN,7.5,"['Zoe Saldana, ', 'Laysla De Oliveira, ', 'Dav...",Joe attempts to balance her personal and profe...,"3,203",NaN
...,...,...,...,...,...,...,...,...,...
129886,Chocatos,"Short, Drama, Family",10 min,NaN,NaN,NaN,Add a Plot\n,NaN,['Diego Al Romero']
129887,Song of the Caballero,"Drama, Western",73 min,NaN,NaN,"['Ken Maynard, ', 'Doris Hill, ', 'Francis For...",After El Lobo robs Don Jose he gives one of th...,NaN,['Harry Joe Brown']
129888,The Flaming Forties,Western,60 min,NaN,NaN,"['Harry Carey, ', 'William Bailey, ', 'Jacquel...",A young cowhand befriends a disreputable gambl...,NaN,['Tom Forman']
129889,The Girl and the Sheriff,"Short, Western",NaN,NaN,NaN,"['Betty Keller, ', 'George Field, ', 'Lee Mora...","Bob Warren, sheriff of Grass County, Cal., and...",NaN,['Al Christie']
129890,The End of the Trail,"Short, Western",NaN,NaN,NaN,NaN,"It was only a lovers' quarrel, and had Marion ...",NaN,['Milton J. Fahrney']

### Sorting

In [21]:
df_subset.sort_values(by='runtime')

,movie,genre,runtime,certificate,rating,stars,description,votes,director
100391,"Louis Vuitton, Our Journey Connected",Short,1 min,NaN,5.7,"['Sophie Turner, ', 'Justin Theroux, ', 'Urass...",Add a Plot\n,86,['Kiku Ohe']
102991,The Perfectionists: Somebody is Watching,Short,1 min,NaN,8.2,"['Sofia Carson, ', 'Chris Mason, ', 'Sydney Pa...",A promo filmed for the first season.,148,NaN
111820,Two Fencers,"Short, Sport",1 min,NaN,4.9,NaN,Shot of two people fencing.,364,"['Ã‰tienne-Jules Marey', '']"
102966,La fÃ©e aux choux,"Short, Family, Fantasy",1 min,NaN,5.4,"['Alice Guy, ', 'Germaine Serand, ', 'Yvonne S...","The first film directed by a female director, ...","1,287",['Alice Guy']
78723,Disney Channel Stars: DuckTales Theme Song,"Short, Music",1 min,NaN,7.2,"['Asher Angel, ', 'Malachi Barton, ', 'Nicolas...","Official music video for ""Ducktales: Theme Son...",62,['Kerri-Anne Lavin']
...,...,...,...,...,...,...,...,...,...
129877,Red Mask,Western,NaN,NaN,NaN,NaN,Add a Plot\n,NaN,NaN
129883,Don X,Western,NaN,NaN,NaN,"['Bruce Gordon, ', 'Josephine Hill, ', 'Willia...",Add a Plot\n,NaN,['Forrest Sheldon']
129885,Western Sunrise,"Short, Western",NaN,NaN,NaN,"['Anne Marie Betts, ', 'Joel Petrie, ', 'Jylli...",Two young women fight back as they are taken i...,NaN,['D. Terry Petrie']
129889,The Girl and the Sheriff,"Short, Western",NaN,NaN,NaN,"['Betty Keller, ', 'George Field, ', 'Lee Mora...","Bob Warren, sheriff of Grass County, Cal., and...",NaN,['Al Christie']
129890,The End of the Trail,"Short, Western",NaN,NaN,NaN,NaN,"It was only a lovers' quarrel, and had Marion ...",NaN,['Milton J. Fahrney']

### Missing movie names

In [22]:
df_subset.isna()

,movie,genre,runtime,certificate,rating,stars,description,votes,director
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True
4,False,False,True,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...
129886,False,False,False,True,True,True,False,True,False
129887,False,False,False,True,True,False,False,True,False
129888,False,False,False,True,True,False,False,True,False
129889,False,False,True,True,True,False,False,True,False
129890,False,False,True,True,True,True,False,True,False

In [23]:
df_subset

,movie,genre,runtime,certificate,rating,stars,description,votes,director
0,The Witcher,"Action, Adventure, Drama",60 min,A,8.1,"['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal...","Geralt of Rivia, a solitary monster hunter, st...","5,39,085",NaN
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie']
2,Sound of Freedom,"Action, Biography, Drama",131 min,PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",The incredible true story of a former governme...,"41,808",['Alejandro Monteverde']
3,Secret Invasion,"Action, Adventure, Drama",47 min,UA 16+,6.2,"['Samuel L. Jackson, ', 'Emilia Clarke, ', 'Do...",Fury and Talos try to stop the Skrulls who hav...,"40,536",NaN
4,Special Ops: Lioness,"Action, Drama, Thriller",NaN,NaN,7.5,"['Zoe Saldana, ', 'Laysla De Oliveira, ', 'Dav...",Joe attempts to balance her personal and profe...,"3,203",NaN
...,...,...,...,...,...,...,...,...,...
129886,Chocatos,"Short, Drama, Family",10 min,NaN,NaN,NaN,Add a Plot\n,NaN,['Diego Al Romero']
129887,Song of the Caballero,"Drama, Western",73 min,NaN,NaN,"['Ken Maynard, ', 'Doris Hill, ', 'Francis For...",After El Lobo robs Don Jose he gives one of th...,NaN,['Harry Joe Brown']
129888,The Flaming Forties,Western,60 min,NaN,NaN,"['Harry Carey, ', 'William Bailey, ', 'Jacquel...",A young cowhand befriends a disreputable gambl...,NaN,['Tom Forman']
129889,The Girl and the Sheriff,"Short, Western",NaN,NaN,NaN,"['Betty Keller, ', 'George Field, ', 'Lee Mora...","Bob Warren, sheriff of Grass County, Cal., and...",NaN,['Al Christie']
129890,The End of the Trail,"Short, Western",NaN,NaN,NaN,NaN,"It was only a lovers' quarrel, and had Marion ...",NaN,['Milton J. Fahrney']

#### Working on runtime column for extracing only numeric value

In [24]:
df_subset['runtime']

0          60 min
1         163 min
2         131 min
3          47 min
4             NaN
           ...
129886     10 min
129887     73 min
129888     60 min
129889        NaN
129890        NaN
Name: runtime, Length: 115988, dtype: object

In [25]:
df_subset['runtime_min'] = df['runtime'].str.extract(r'(\d+)')
df_subset['runtime_min']

C:\Users\new\AppData\Local\Temp\ipykernel_8376\2791834743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['runtime_min'] = df['runtime'].str.extract(r'(\d+)')

0          60
1         163
2         131
3          47
4         NaN
         ...
129886     10
129887     73
129888     60
129889    NaN
129890    NaN
Name: runtime_min, Length: 115988, dtype: object

In [26]:
df_subset['runtime_min']=df_subset['runtime_min'].fillna(0)

C:\Users\new\AppData\Local\Temp\ipykernel_8376\3894586276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['runtime_min']=df_subset['runtime_min'].fillna(0)

In [27]:
df_subset['runtime_min'].astype('int')

0          60
1         163
2         131
3          47
4           0
         ...
129886     10
129887     73
129888     60
129889      0
129890      0
Name: runtime_min, Length: 115988, dtype: int64

In [28]:
df_subset

,movie,genre,runtime,certificate,rating,stars,description,votes,director,runtime_min
0,The Witcher,"Action, Adventure, Drama",60 min,A,8.1,"['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal...","Geralt of Rivia, a solitary monster hunter, st...","5,39,085",NaN,60
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie'],163
2,Sound of Freedom,"Action, Biography, Drama",131 min,PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",The incredible true story of a former governme...,"41,808",['Alejandro Monteverde'],131
3,Secret Invasion,"Action, Adventure, Drama",47 min,UA 16+,6.2,"['Samuel L. Jackson, ', 'Emilia Clarke, ', 'Do...",Fury and Talos try to stop the Skrulls who hav...,"40,536",NaN,47
4,Special Ops: Lioness,"Action, Drama, Thriller",NaN,NaN,7.5,"['Zoe Saldana, ', 'Laysla De Oliveira, ', 'Dav...",Joe attempts to balance her personal and profe...,"3,203",NaN,0
...,...,...,...,...,...,...,...,...,...,...
129886,Chocatos,"Short, Drama, Family",10 min,NaN,NaN,NaN,Add a Plot\n,NaN,['Diego Al Romero'],10
129887,Song of the Caballero,"Drama, Western",73 min,NaN,NaN,"['Ken Maynard, ', 'Doris Hill, ', 'Francis For...",After El Lobo robs Don Jose he gives one of th...,NaN,['Harry Joe Brown'],73
129888,The Flaming Forties,Western,60 min,NaN,NaN,"['Harry Carey, ', 'William Bailey, ', 'Jacquel...",A young cowhand befriends a disreputable gambl...,NaN,['Tom Forman'],60
129889,The Girl and the Sheriff,"Short, Western",NaN,NaN,NaN,"['Betty Keller, ', 'George Field, ', 'Lee Mora...","Bob Warren, sheriff of Grass County, Cal., and...",NaN,['Al Christie'],0
129890,The End of the Trail,"Short, Western",NaN,NaN,NaN,NaN,"It was only a lovers' quarrel, and had Marion ...",NaN,['Milton J. Fahrney'],0

Now as we have extracted only the numeric col with min we can drop the other object dtype col

In [29]:
df_subset

,movie,genre,runtime,certificate,rating,stars,description,votes,director,runtime_min
0,The Witcher,"Action, Adventure, Drama",60 min,A,8.1,"['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal...","Geralt of Rivia, a solitary monster hunter, st...","5,39,085",NaN,60
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie'],163
2,Sound of Freedom,"Action, Biography, Drama",131 min,PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",The incredible true story of a former governme...,"41,808",['Alejandro Monteverde'],131
3,Secret Invasion,"Action, Adventure, Drama",47 min,UA 16+,6.2,"['Samuel L. Jackson, ', 'Emilia Clarke, ', 'Do...",Fury and Talos try to stop the Skrulls who hav...,"40,536",NaN,47
4,Special Ops: Lioness,"Action, Drama, Thriller",NaN,NaN,7.5,"['Zoe Saldana, ', 'Laysla De Oliveira, ', 'Dav...",Joe attempts to balance her personal and profe...,"3,203",NaN,0
...,...,...,...,...,...,...,...,...,...,...
129886,Chocatos,"Short, Drama, Family",10 min,NaN,NaN,NaN,Add a Plot\n,NaN,['Diego Al Romero'],10
129887,Song of the Caballero,"Drama, Western",73 min,NaN,NaN,"['Ken Maynard, ', 'Doris Hill, ', 'Francis For...",After El Lobo robs Don Jose he gives one of th...,NaN,['Harry Joe Brown'],73
129888,The Flaming Forties,Western,60 min,NaN,NaN,"['Harry Carey, ', 'William Bailey, ', 'Jacquel...",A young cowhand befriends a disreputable gambl...,NaN,['Tom Forman'],60
129889,The Girl and the Sheriff,"Short, Western",NaN,NaN,NaN,"['Betty Keller, ', 'George Field, ', 'Lee Mora...","Bob Warren, sheriff of Grass County, Cal., and...",NaN,['Al Christie'],0
129890,The End of the Trail,"Short, Western",NaN,NaN,NaN,NaN,"It was only a lovers' quarrel, and had Marion ...",NaN,['Milton J. Fahrney'],0

In [30]:
df_subset= df_subset.drop('runtime',axis=1)

In [31]:
df_subset

,movie,genre,certificate,rating,stars,description,votes,director,runtime_min
0,The Witcher,"Action, Adventure, Drama",A,8.1,"['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal...","Geralt of Rivia, a solitary monster hunter, st...","5,39,085",NaN,60
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",Ethan Hunt and his IMF team must track down a ...,"1,06,759",['Christopher McQuarrie'],163
2,Sound of Freedom,"Action, Biography, Drama",PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",The incredible true story of a former governme...,"41,808",['Alejandro Monteverde'],131
3,Secret Invasion,"Action, Adventure, Drama",UA 16+,6.2,"['Samuel L. Jackson, ', 'Emilia Clarke, ', 'Do...",Fury and Talos try to stop the Skrulls who hav...,"40,536",NaN,47
4,Special Ops: Lioness,"Action, Drama, Thriller",NaN,7.5,"['Zoe Saldana, ', 'Laysla De Oliveira, ', 'Dav...",Joe attempts to balance her personal and profe...,"3,203",NaN,0
...,...,...,...,...,...,...,...,...,...
129886,Chocatos,"Short, Drama, Family",NaN,NaN,NaN,Add a Plot\n,NaN,['Diego Al Romero'],10
129887,Song of the Caballero,"Drama, Western",NaN,NaN,"['Ken Maynard, ', 'Doris Hill, ', 'Francis For...",After El Lobo robs Don Jose he gives one of th...,NaN,['Harry Joe Brown'],73
129888,The Flaming Forties,Western,NaN,NaN,"['Harry Carey, ', 'William Bailey, ', 'Jacquel...",A young cowhand befriends a disreputable gambl...,NaN,['Tom Forman'],60
129889,The Girl and the Sheriff,"Short, Western",NaN,NaN,"['Betty Keller, ', 'George Field, ', 'Lee Mora...","Bob Warren, sheriff of Grass County, Cal., and...",NaN,['Al Christie'],0
129890,The End of the Trail,"Short, Western",NaN,NaN,NaN,"It was only a lovers' quarrel, and had Marion ...",NaN,['Milton J. Fahrney'],0